body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.energy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.energy-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
}

.energy-item h2 {
    border-bottom: 2px solid #f0a500;
    padding-bottom: 5px;
}

.energy-item p {
    margin: 10px 0;
}

.energy-item:nth-child(even) {
    background-color: #e8f0fe;
}

@media (max-width: 768px) {
    .energy-item {
        width: 100%;
    }
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.solar {
    background-color: #ffcc00; /* Amarillo */
}

.eolica {
    background-color: #66ccff; /* Azul claro */
}

.hidroelectrica {
    background-color: #66ff66; /* Verde claro */
}

.biomasa {
    background-color: #ff9966; /* Naranja claro */
}

.geotermica {
    background-color: #cc99ff; /* Morado claro */
}

.nuclear {
    background-color: #ff6666; /* Rojo claro */
}

.boton {
    margin: 20px auto 0 auto;
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #555;
}
