body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/25/05/c3/2505c393a0eba629a2b27c28bf625209.jpg);
    background-size: cover;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center; 
}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}

h2 {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}

p {
    background-color: seagreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}

.integrante {
    display: inline-block;
    margin: 20px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.integrante img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.info {
    margin-top: 10px;
}

.info h2 {
    margin: 5px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.info p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.integrante img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
}

a {
    color: green;
    text-decoration: none;
}